/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "compass/utilities";

@import "normalize";
@import "fonts";
@import "variables";

* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	font-size: $fontBase;
	background-image: url("../images/debut_dark.png");
	text-rendering: optimizeLegibility;
	color: #222;
	font-family: 'Maven Pro', sans-serif;
	z-index: -999;
}

header {
	@include clearfix;
}

.content_div {
	@include clearfix;
	background-color: #8C8C8C;
	padding: $step1 + em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headerFont;
	color: $headerColor;
}

h1 {
	font-size: $altstep2 + em;
}

h2 {
	font-size: $step2 + em;
}

h3 {
	font-size: $altstep1 + em;
}

h4 {
	font-size: $step1 + em;
}

h5 {
	font-size: $step-1 + em;
}

h6 {
	font-size: $step-2 + em;
}

a {
	color: $altlightColor;
	text-decoration: none;
	text-shadow: 0.2px 0.4px 0px black;
	transition: color 0.4s ease 0.2s;
		&:hover {
			color: lighten($altlightColor, 12);
		}
}

.content_div a {
	@extend a;
	color: lighten($altdarkColor, 6);
	// text-shadow: 0.6px 0.6px 0px black;
		&:hover {
			color: darken($altdarkColor, 6);
		}
}

hr {
	opacity: 0.4;
}

dt {
	font-weight: bold;
}

code, tt {
	font-family: 'Source Code Pro', monospace, sans-serif;
	color: #333336;
}

td {
	padding: $step-3 + em $step-2 + em;
	border: 1px solid $darkColor;
}

.left, .alignleft {
	float: left;
}

.right, .alignright {
	float: right;
}

.sticky {
		h2:after {
		content: url(../images/icons/vector/pin.svg);
		position: relative;
		left: $step-1 + em;
		}
		&:after {
			@extend h2:after;
			position: relative;
			// right: $step1 + em;
		}
	}

img {
	&.left, &.alignleft {
		padding: 0 $altstep-1 + em $step-2 + em 0;
	}
	&.right, &.alignright {
		padding: 0 0 $step-2 + em $altstep-1 + em;
	}
}

.alignleft img {
	padding: 0 $altstep-1 + em $step-2 + em 0;
}

.alignright img {
	padding: 0 0 $step-2 + em $altstep-1 + em;
}

.lees_meer {
	float: right;
	padding-right: $step1 + em;
}

blockquote {
		&:before {
			content: url(../images/icons/vector/left_quote.svg);
			position: relative;
			left: -$step2 + em;
		}
		p:after {
			content: url(../images/icons/vector/right_quote.svg);
			position: relative;
			right: -$step2 + em;
			top: $step-1 + em;
		}
}

#headerWrap {
	@include pie-clearfix;
	width: $mainWidth;
	margin: 0 auto;
}

#headerNavWrap {
	width: 100%;
	background-color: black;
}

#headerNav {
	width: 100%;
		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;
				li {
					float: left;
					margin: $altstep-1 + em $step1 + em;
						li {
							display: none;
						}
						a {
							text-decoration: none;
							font-size: $altstep1 + em;
							color: $lightColor;
							transition: color 0.6s ease 0.2s;
								&:hover {
									color: lighten($lightColor, 24);
								}	
						}
				}
		}
}

#featured {
	@include clearfix;
	width: 38%;
	display: inline-block;
	float: left;
	margin: $step3 + ex $step1 + em $step3 + ex 0;
	padding: 0;
	background-color: #8C8C8C;
	z-index: 10;
		h2 {
			margin: $step-2 + em 0;
			padding: $step-4 + em $step1 + ex;
			// margin-left: -$step2 + ex;
			color: $thirdlightColor;
			text-shadow: 0.3px 0.7px 0px black;
			background-color: $thirddarkColor;
		}
		p {
			padding: 0 $step1 + em $step1 + em;
			margin: 0;
		}
		img {
			width: 42%;
			float: left;
			margin: $step1 + em $step1 + em $step1 + em 0;
		}
		small {
			padding-left: $step1 + em;
			display: block;
		}
		.post-edit-link {
			padding-left: $step1 + em;
			display: block;
		}
}

#logoImageWrap {
	// background-image: url("../images/women-small.jpg");
	z-index: 2;
		img {
			width: 100%;
			z-index: -1;
		}
}

#logo {
	// display: inline-block; 
	float: left;
	margin: $step3 + ex;
	width: 50.74%;
		h1 {
			// display: inline-block;
			position: absolute;
			top: $step4 + em;
			background-color: $lightColor;
			font-size: $step2 + em;
			padding: $step-2 + em;
			z-index: 99;
		}
		img {
				// position: absolute;
				// top: 0;
				// width: 50%;
			}
}

#contentWrap {
	@include pie-clearfix;
	width: $mainWidth;
	margin: 0 auto;
}

#sideBarWrap {
	width: 30%;
	float: left;
	// padding: $step1 + em;
	margin-top: 0;
}

#sideBar {
	@extend .content_div;
	padding: 0;
		h2 {
			background-color: $darkColor;
			margin:  0;
			padding: $step-2 + em;
			// text-align: center;
			color: $thirdlightColor;
			text-shadow: 0.3px 0.7px 0px black;
		}
		ul {
			padding: 0;
			list-style: none;
			margin: 0;
				li {
					padding: $step-3 + em $step-1 + em;
					border-bottom: 1px solid $darkColor;
						ul {
							background-color: $altmiddleColor;
							border: 1px solid $darkColor;
							border-bottom: none;
						}
				}
		}
}

#mainContentWrap {
	@include clearfix;
	width: 60%;
	float: left;
	padding: $step2 + em;
	padding-top: 0;
		article {
			margin-bottom: $step1 + em;
			overflow: hidden;
		}
		h2 {
			color: $thirdlightColor;
			text-shadow: 0.64px 0.8px 0px black;
				&:first-of-type {
					margin-top: 0;
				}
		}
		p {
			// border: 1px solid black;
			// padding: $step1 + em;
				&:first-of-type {
					margin-top: 0;
				}
		}
		img {
			max-width: 100%;
		}
}

#footerWrap {
	@include pie-clearfix;
	width: 90%;
	margin: 0 auto;
}

footer {
	width: 100%;
		h2 {
			color: $altmiddleColor;
			margin-top: 0;
			text-shadow: 0.5px 1px 0px black;
		}
		article {
			float: left;
			width: 28%;
			padding: $step2 + em;
			// border: 1px solid black;
				p {
					padding: $step1 + em;
				}
		}
}

#colofon, #reg {
	padding-left: $step2 + em;
	color: $altmiddleColor;
}

.pipe {
	margin-top: -8px;
}